#search{
    font-size: large;
    padding: .3rem;
    width: 40%;
}

.searchI{
    position: absolute;
    top: 10.5rem;
    left: 25rem;
    padding: .5rem;
    background-color: white;
}
.searchI li{
    display: block;
}
.searchI #link{
    text-decoration: none;
    color: black;
}
.searchI .se li:hover{
    border-bottom: 1px solid blue;
    width: fit-content;
}
#link2{
    color: purple;
}
#link2:hover{
    color:black;
}